.form234 {

    margin: 0 3%;
    margin-right: 2%;
    /* max-width: ; */

}

/* .picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
} */
/* .picture{
    width: 100px;
    height: 100px;
    background-color: white;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 200%;
    position:initial;
    margin-left: 100px;
    margin-right: 100px;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
} */
/* .picture:hover{
    border-color: #007bff;
} */
/* .content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #007bff;
} */



.picture-frame input[type="file"] {
    cursor: pointer;
    display: block;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.picture-col {
    display: flex;
    justify-content: center;

}

.picture-frame {
    width: 200px;
    height: 200px;
    text-align: center;
    overflow: hidden;
    position: relative;
    

}

.picture-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.textdat {
    display: flex;
    /* align-items: center !important; */
    justify-content: center;
}




#notification {
    color: #007bff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


#wizardPicturePreview {
    border: solid;
    border-color: #007bff;
}